/* 헤더 스타일 */
header {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 100%; /* 전체 너비 설정 */
}


h2 {
    text-align: center;
    width: 100%; /* 부모의 크기를 따라감 */
    margin: 0;
}
