/* 기본 스타일 초기화 */
#app {
    z-index: 9998;        /* 가장 앞에 오도록 */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 정렬 */
    justify-content: flex-start; /* 위에서부터 정렬 */
    height: 100vh;
    margin: 0;
    margin-top: 10px;
    background-color: #f4f5f7;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid black;
    margin: 0;
}